.request-wrapper{
    display: flex;
    
}

.Map{
    position: relative;
}
.icon-center {
    position: absolute;
    display: flex;
    bottom: 50%;
    left: 48%;
    width: 4%;
    text-align: center;
    font-size: 18px;
    z-index: +10000;
  }