.Map{
    position: relative;
    width: 300px;
    height: 400px;
  }
  
  .map-marker-centered{
    background-image: url('https://img.icons8.com/color/48/000000/marker--v1.png') no-repeat;
    width: 50px;
    height: 60px;
    position: absolute;
    z-index: 20;
    left: calc(50% - 25px);
    top: calc(50% - 60px);
    transition: all 0.4s ease;
  }